body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-align: center;
}

.bg-img {
  background: url('../img/daylight-environment-forest-459225.jpg') center center;
  background-size: cover;
}
