<%- include('../partials/header') %>


<div class="columns is-centered">
  <div class="column is-one-fifth">
    <br />
      <a href="/auth/register">
        <button class="button is-primary is small">Register here!</button>
      </a>
      <br />
      <br />
    <form action="/auth/login" method="post">
      <h2 "size-7"><strong>LOGIN</strong></h2>
      <br />
      <% if (errors.length > 0) { %>
        <ul>
          <% errors.forEach((err) => { %>
            <li>
              <%= err %>
            </li>
            <% }) %>
        </ul>
        <% } %>
        <div class="field">

          <label class="label" for="username">Username
            <input type="text" name="username" placeholder="username" class="input is-primary is-small">
          </label>
        </div>
          <label for="password" class="label">Password
            <input type="password" name="password" placeholder="password" class="input is-primary is-small">
          </label>
          <button type="submit" class="button is-primary is-small">Login</button>
    </form>


  </div>
</div>
<%- include('../partials/foot') %>