<div>
<% comments.forEach((comment) => { %>
<div class="columns">
  <div class="column is-four-fifths">
    <p><%= comment.author %>
      <br>
      <p><%= comment.content %></p>
      <p><%= comment.date_created %></p>
    </p>
  </div>
</div>
<% }) %>

</div>