<div>
<% comments.forEach((comment) => { %>
  <div>
    <p><%= comment.author %>
      <br>
      <span><%= comment.content %></span>
      <span><%= comment.date_created %></span>
    </p>
  </div>
<% }) %>

</div>