<form action="/parks/<%= park.id %>" method="post">

  <label for="content" name="<%= park.id %>">
    <textarea placeholder="Share your experiences here!" name="content" id="content" class="textarea is-large is-primary" rows="10"></textarea>
    <div>
      <button value="submit" class="button is-primary">Submit</button>
    </div>
  </label>

</form>