<div>
    <a href="/user">Profile</a>
    <div class="navbar-dropdown">
      <a class="navbar-item">Dashboard</a>
      <a class="navbar-item">Settings</a>
      <hr class="navbar-divider" />
      <a class="navbar-item">Logout</a>
    </div>
  </div>