<form action="/parks/<%= park.id %>" method="post">

  <label for="content">
    Share your experience 
    <textarea name="content" col="30" rows="5" id="content">
    </textarea>
    <input type="submit" value="submit">
  </label>
  
</form>